@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.container-fluid {
  width: 100%; }

.bg-banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/Banner_final.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 62rem; }
  
.container {
  width: 1170px;
  margin: 0 auto; }
  
  .btn-secondary {
      color: #fff;
      background-color: purple !important;
  }
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0; }
  
  .head__logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    
    .head__logo img {
      width: 38px; }
      
    .head__logo h1 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ff5e43;
      margin-left: 10px; }
      
  .head__menu ul {
    display: flex;
    align-items: center;
    list-style: none; }
    
    .head__menu ul li a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
      color: #111;
      font-weight: 500;
      position: relative;
      z-index: 1;
      transition: .5s; }
      
      .head__menu ul li a:hover {
        color: #fff; }
        
      .head__menu ul li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff5e43;
        z-index: -1;
        transition: transform .5s;
        transform-origin: right;
        transform: scaleX(0); }
        
      .head__menu ul li a:hover::before {
        transition: transform .5s;
        transform-origin: left;
        transform: scaleX(1); }

.page-intro {
  max-width: 430px;
  padding-top: 20px; }
  
  .page-intro__text {
    padding-left: 50px; }
    
    .page-intro__text h2 {
      font-size: 30px;
      color: #8ea0fe;
      line-height: 1;
      text-transform: uppercase;
      white-space: nowrap;
     }
    .page-intro__text h5 {
      font-size: 20px;
      color: #8ea0fe;
      font-weight: 700; }
      
    .page-intro__text p {
      color: red;
      font-size: 16px;
      font-weight: 300;
      padding-right: 20px;
      margin: 30px 0 20px; }
      
    .page-intro__text a {
      display: inline-block;
      text-decoration: none;
      color: #778dfd;
      font-weight: 500;
      padding: 18px 40px;
      border: 1px solid #778dfd;
      letter-spacing: 1px;
      border-radius: 5px;
      position: relative;
      transition: .5s; }
      
      .page-intro__text a:hover {
        border-color: transparent;
        color: #fff; }
        
      .page-intro__text a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #778df8, #74ddbf);
        z-index: -1;
        transition: transform .5s;
        transform-origin: right;
        transform: scaleX(0);
        border-radius: 5px; }
        
      .page-intro__text a:hover::before {
        transition: transform .5s;
        transform-origin: left;
        transform: scaleX(1); }
        
  .page-intro__icon {
    margin-top: 80px; }
    .page-intro__icon img {
      width: 38px;
      cursor: pointer; }

      #name {
          width: 223.67px;
          height: 40.25px;
      }

      .form-group {
          display: inline-block;
          padding: 0 !important;
      }

      .container {
          display: inline-block;
          width: 90%;
          margin-left: 5% !important;
          margin-right: 5% !important;
      }

      .form-control {
          margin-left: 0;
      }
      .form-control1 {
          margin-left: 94px;
          color: #495057;
          background-color: #fff;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      }
